*{ /*Universal selector*/
    margin:0;
    padding:0;
    box-sizing:border-box;
}
@font-face {
    font-family: Norse-Bold;
    src: url(Norse-Bold.otf);
}
@font-face {
    font-family: Michroma;
    src: url(Michroma-Regular.ttf);
}
.sign-up{
    display:flex;
    font-family: Michroma;
}
.fancy-image{
    width:40vw;
    height:100vh;
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    align-items:center;
    position:relative;
}
#bag-img{
    position:absolute;
    width:100%;
    height:100%;
    z-index:-1;
}
#company-ad{
    font-family:Norse-Bold;
    color:white;
    background-color:black;
    opacity:0.6;
    font-size:30px;
    width:100%;
    text-align: center;
    margin-top:auto;
    margin-bottom:auto;
}
#credit{
    color:white;
}
form{
    width:60vw;
    height:100vh;
    display:flex;
    flex-direction:column;
    background-color:whitesmoke;
    gap:20px;
}
input{
    font-size:1em;
}
input:user-invalid{
    border:2px solid red;
}
input:user-valid{
    border:2px solid green;
}
#wordy-stuff{
    font-size: 2rem;
    padding:3rem;
}
.form{
    display:flex;
    justify-content: center;
    align-items: center;
}

.col-1,.col-2{
    font-size:1.5rem;
    padding:20px;
    background-color:white;
    width:100%;
}
.col-1 div,.col-2 div{
    display:flex;;
    flex-direction: column;
    gap:10px;
}
#create_account{
    font-family: Michroma;
    color:white;
    background-color:#43864a;
    padding:5px 10px;
    border-radius:5px;
    margin-left:20px;
    align-self:flex-start;
}
#have_account{
    margin-left:20px;
}
#log_in{
    color:#43864a;
    text-decoration:none;
}